header {
    background-image: url(../images/bg_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
      font-size: 17px;
}

section {
    background-image: url(../images/bg_image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


body{
    animation-name: text-focus-in;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes text-focus-in {
    0%{
      filter: blur(12px);
      opacity: 0;
    }
    100%{
      filter: blur(0);
      opacity: 1;
    }
}

footer {
    background-color: #D3DBEE
}

footer img {
    border: 2px solid black;
}

footer img:hover {
    animation-name: icon-logo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
   
@keyframes icon-logo{
    0% {width: 50px;
      height: 50px;}
    50% {width: 75px;
      height: 75px;
      transform: rotateZ(360deg);}
    100% {width: 50px;
      height: 50px;}
  
}
