header {
    background-image: url(../images/bg_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


main {
  background-image: url(../images/blue_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  background-color: #0A2733;
}

footer img{
  width: 40px;
  height: 40px;
}

footer img:hover {
    animation-name: icon-logo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
   
@keyframes icon-logo{
  50% {
    transform: rotateZ(360deg);}
}


@media screen and (max-width: 576px) {
  main {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .roundImage {
    border-radius:50%;
  }
}